/* Styling for social icons! */

.icon i {
  color: #444;
}

/*footer a.icon:hover i,
footer a.icon:focus i {
  font-weight: 600;
}*/

a.social-twitter:hover i,
a.social-twitter:focus i {
  color: #55acee;
}

/* On GitHub.com, the footer icon changes from light (#c6cbd1) to dark
/* (#959da5) on hover. */
a.social-github:hover i,
a.social-github:focus i {
  color: #959da5;
}

a.social-codepen:hover i,
a.social-codepen:focus i {
  color: #fcd000;
}

a.social-linkedin:hover i,
a.social-linkedin:focus i {
  color: #0077b5;
}

a.social-instagram:hover i,
a.social-instagram:focus i {
  color: #f167f5;
}

/* styling for sticky footer! */

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site-content {
  flex: 1;
}

/* custom styling */

.main-header-content {
  background: #202020;
  color: #f0f0f0;
  padding: 20px;
}

a {
  color: #4b95b5;
}

a:hover {
  color: #000;
}

footer a {
  color: #444;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #4b95b5;
  text-decoration: none;
}

.footer {
  padding: 1.5rem;
}

.Site-content .content {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

/* Formatting for post page to make the blog post listings more beautiful! */

h2,
h3,
h4,
h5,
h6,
.pagination {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  /*font-size: 1.5em;*/
}

.post:first-child {
  margin-top: 0;
}

.post {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  margin: 2rem 0;
}

.post .post-title {
  margin-bottom: 0;
}

.pagination {
  margin-top: 3rem;
}

.post-meta,
.post-excerpt {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: 200;
}

/* avatar formatting */
.avatar {
  margin: 2rem;
}

.avatar-container {
  margin-top: -2em;
}

.avatar-container .name {
  font-family: "Cormorant Garamond", Georgia, Cambria, "Times New Roman", Times,
    serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: -3rem;
}

/* Hero properties */

/* Make the post headers Cormorant font and off-black */
.header .title a {
  color: #444;
  font-family: "Cormorant Garamond", Georgia, Cambria, "Times New Roman", Times,
    serif;
  /*font-size: 2.5em;*/
  /*margin-top: 0;*/
}

.header .subtitle {
  margin-bottom: 0;
  padding-top: 0.5em;
}

.image-hero .container {
  margin: 0;
}

/* BUT make the hero headers white to contrast with the background */
.image-hero .title {
  color: #f0f0f0;
  font-family: "Cormorant Garamond", Georgia, Cambria, "Times New Roman", Times,
    serif;
  font-size: 20vmin;
}

.image-hero .subtitle {
  color: #f0f0f0;
  font-family: "Cormorant Garamond", Georgia, Cambria, "Times New Roman", Times,
    serif;
  font-size: 7vmin;
}

/* Unless otherwise specified, make h1s 10vmin */
.blog-post .title {
  font-size: 10vmin;
}

.blog-post .subtitle {
  font-size: 5vmin;
}

/* Set properties for heroes with image backgrounds. Setting an appropriate
/* background color also helps insert the right text while loading the
/* image! */
.image-hero {
  align-items: center;
  background-color: #fff;
  background-size: cover;
  /* Make the header text center vertically within the hero */
  display: flex;
  justify-content: center;
}

.landing-page-hero {
  background-color: #485a28; /* Dark bkgrnd fallback (b/c dark picture) */
  background-image: url("/images/dog-mountain-fir.jpg");
}

/* Stop the landing page hero from being link-colored */
.landing-page-hero a,
.landing-page-hero span {
  color: #f0f0f0;
}

/* Make mid-dots a bit bolder */
.landing-page-hero span {
  font-weight: 800;
}

.landing-page-hero a:hover,
.landing-page-hero a:focus {
  text-decoration: underline;
}

.about-page-hero {
  background-color: #2e83a9; /* Dark bkgrnd fallback (b/c dark picture) */
  background-image: url("/images/juniper-point.jpg");
}
.blog-page-hero {
  background-color: #262226; /* Dark bkgrnd fallback (b/c dark picture) */
  background-image: url("/images/sailing-centre-sunset_stylized.jpg");
}

/* For now I'm using a light photo, so let's change the text color */
.projects-page-hero {
  background-color: #d7c079; /* Light bkgrnd fallback (b/c light picture) */
  background-image: url("/images/lions-gate.jpg");
}

.error-page-hero {
  background-color: #3c3f2b; /* Dark bkgrnd fallback (b/c dark picture) */
  background-image: url("/images/first-lake-crop.jpg");
}

/* make error page hero text smaller becuse they will tend to be longer &
/* more descriptive */
.error-page-hero .title {
  font-size: 12vmin;
}

/* Modal Card properties */

/* Create very thin underline for a tags within the modal card body */
.modal-card-body a {
  box-shadow: inset 0 0px 0 #f0f0f0, inset 0 -0.5px 0 #444;
}

/*Except for the github logo*/
.modal-card-body a.icon {
  box-shadow: none;
}

/*Remove the rounded corners from the modal*/
.modal-card-head {
  border: 0;
  border-radius: 0;
}

/* Lower padding in code blocks */
.content pre {
  padding: 0;
}

/* Reduce odd spacing when we have a nested list */
.content li ul {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* Create thin dotted line for hovertext in articles */

.hoverText {
  box-shadow: inset 0 0px 0 #fff, inset 0 -0.2px 0 #444;
}
