/* Styling for social icons! */

.icon a {
  color: #444;
}

/*footer a.icon:hover i,
footer a.icon:focus i {
  font-weight: 600;
}*/

.social-twitter a:hover,
.social-twitter a:focus {
  color: #55acee;
}

/* On GitHub.com, the footer icon changes from light (#c6cbd1) to dark
/* (#959da5) on hover. */
.social-github a:hover,
.social-github a:focus {
  color: #959da5;
}

.social-codepen a:hover,
.social-codepen a:focus {
  color: #fcd000;
}

.social-linkedin a:hover,
.social-linkedin a:focus {
  color: #0077b5;
}

.social-instagram a:hover,
.social-instagram a:focus {
  color: #f167f5;
}

/* styling for sticky footer! */

.flex-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-content {
  flex: 1;
}

/* custom styling */

a {
  color: #4b95b5;
}

a:hover {
  color: #000;
}

footer a {
  color: #444;
  text-decoration: none;
}

footer a:hover:not(.icon),
footer a:focus:not(.icon) {
  color: #4b95b5;
  text-decoration: none;
}

.footer {
  padding: 1.5rem;
}

.flex-content .content {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}

/* Formatting for post page to make the blog post listings more beautiful! */

h2,
h3,
h4,
h5,
h6,
.pagination {
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, BlinkMacSystemFont, -apple-system,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
  font-weight: 300;
  /*font-size: 1.5em;*/
}

.post:first-child {
  margin-top: 0;
}

.post {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 2rem 0;
}

.post .post-title {
  margin-bottom: 0;
}

.pagination {
  margin-top: 3rem;
}

.post-meta,
.post-excerpt {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

/* avatar clipping */
.avatar {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

/* Hero properties */

/* Make the post headers Cormorant font and off-black */
.hero.blog-post {
  color: #f0f0f0;
}

.hero.blog-post .subtitle {
  margin-bottom: 0;
  padding-top: 0.5em;
}

.hero.blog-post .hero-foot {
  width: 100%;
}

.image-hero .container {
  margin: 0;
}

/* BUT make the hero headers white to contrast with the background */
.image-hero .title {
  color: #f0f0f0;
  font-family: 'Cormorant Garamond', Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 20vmin;
}

.image-hero .subtitle {
  color: #f0f0f0;
  font-family: 'Cormorant Garamond', Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 7vmin;
}

.image-hero .image-snippet {
  margin-left: 1rem;
}

/* Unless otherwise specified, make h1s 10vmin */
.blog-post .title {
  font-size: 10vmin;
}

.blog-post .subtitle {
  font-size: 5vmin;
}

/* Set properties for heroes with image backgrounds. Setting an appropriate
/* background color also helps insert the right text while loading the
/* image! */
.image-hero {
  align-items: center;
  background-color: #fff;
  background-size: cover;
  /* Make the header text center vertically within the hero */
  display: flex;
  justify-content: center;
}

.landing-page-hero {
  background-color: #485a28; /* Dark bkgrnd fallback (b/c dark picture) */
  background-image: url('/images/dog-mountain-fir.jpg');
}

/* Stop the landing page hero from being link-colored */
.landing-page-hero a,
.landing-page-hero span {
  color: #f0f0f0;
}

/* Make mid-dots a bit bolder */
.landing-page-hero span {
  font-weight: 800;
}

.landing-page-hero a:hover,
.landing-page-hero a:focus {
  text-decoration: underline;
}

/* .about-page-hero {
  background-color: #2e83a9; // Dark bkgrnd fallback (b/c dark picture) 
  background-image: url('/images/juniper-point.jpg');
} */

/* .blog-page-hero {
  background-color: #262226; // Dark bkgrnd fallback (b/c dark picture)
  background-image: url('/images/sailing-centre-sunset_stylized.jpg');
} */

/* For now I'm using a light photo, so let's change the text color */
/* .projects-page-hero {
  background-color: #d7c079; // Light bkgrnd fallback (b/c light picture)
  background-image: url('/images/lions-gate.jpg');
} */

/* .error-page-hero {
  background-color: #3c3f2b; // Dark bkgrnd fallback (b/c dark picture)
  background-image: url('/images/first-lake-crop.jpg');
} */

/* make error page hero text smaller becuse they will tend to be longer &
/* more descriptive */
.error-page-hero .title {
  font-size: 12vmin;
}

/* Modal Card properties */

/* Create very thin underline for a tags within the modal card body */
.modal-card-body a {
  box-shadow: inset 0 0px 0 #f0f0f0, inset 0 -0.5px 0 #444;
}

/*Except for the github logo*/
.modal-card-body a.icon {
  box-shadow: none;
}

/*Remove the rounded corners from the modal*/
.modal-card-head {
  border: 0;
  border-radius: 0;
}

/* Lower padding in code blocks */
.content pre {
  padding: 0;
}

/* Reduce odd spacing when we have a nested list */
.content li ul {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* Create thin dotted line for hovertext in articles */

.hover-text {
  box-shadow: inset 0 0px 0 #fff, inset 0 -0.2px 0 #444;
}

/* Make pre tags use Fira Code and use ligatures */

@font-face {
  font-family: 'Fira Code';
  src: url(../fonts/FiraCode-Regular.woff2);
}

/* @font-face {
  font-family: 'FiraCode-Medium';
  src: url(fonts/FiraCode-Medium.woff2);
} */

/* @font-face {
  font-family: 'FiraCode-Light';
  src: url(../fonts/FiraCode-Light.woff2);
} */

code {
  font-family: 'Fira Code', 'Monoid', 'Hasklig', 'Office Code Pro D', 'Roboto Mono',
    'Droid Sans Mono', 'Ubuntu Mono', 'Inconsolata', 'monospace';
  font-variant-ligatures: common-ligatures;
  /* If we want pre tags to wrap and not overflow, uncomment below */
  /* white-space: pre-wrap; */
  /* word-wrap: break-word; */
}

/* Make inline code prettier */
code {
  background-color: #f0f0f0;
  color: #444;
  padding: 0.15em 0.5em 0.15em;
  font-size: 0.875em;
}
/* But make code blocks themed like Atom's One Dark Theme */
pre {
  background-color: #282c34;
  color: #abb2bf;
}

.content ::-webkit-scrollbar {
  -webkit-appearance: none;
}

.content ::-webkit-scrollbar:horizontal {
  height: 9px;
}

.content ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0.5px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0.5px rgba(255, 255, 255, 0.5);
}
.content ::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

/* Return <hr>s to their default (visible, non-zero) height */

hr {
  height: 1px;
}

/* Make description lists have underlined terms, but only for a top-level span! */
/* This eliminates any underlined code blocks within a dt element. */

.content dt > span {
  text-decoration: underline;
}

/* Style post info card */

#post-info .card-content {
  padding: 0;
}

#post-info .card-footer,
#post-info .card-footer-item {
  border: none;
}

#post-info .card-footer {
  background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
}

#post-info {
  margin-bottom: 4em;
  box-shadow: none;
}

#post-info .card-footer-item .link-description {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 1em;
}
