{% for file in pagination.files %}
<article class="post">
  <header class="post-header">
    <h2 class="post-title">
      <a href="{{file.url}}">{{file.title}}</a>
    </h2>
    <div class="post-meta">
      <time class="post-date" datetime="{{file.date | date('D MMMM YYYY')}}">{{file.date | date('D MMMM YYYY')}}</time>
    </div>
    {% if file.byline %}
    <div class="post-meta">
      <span class="post-author">{{file.byline}}</span>
    </div>
    {% endif %}
  </header>
  <section class="post-excerpt">
    {{file.excerpt}} {#
    <p>{{file.excerpt}}
      <a class="read-more" href="{{file.url}}">&raquo;</a>
    </p>#}
  </section>

</article>
{% endfor %}