{% extends 'base.html' %}

{% block body_class %}page-template{% endblock%}

  {% block header_title %}

    <section class="hero is-small is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <a href="/">
              {{file.title}}
            </a>
          </h1>
          <h2 class="subtitle">
            {{file.subtitle}}
          </h2>
        </div>
      </div>
    </section>

  {% endblock %}

  {% block content %}

    <article class="page">

      <section class="page-content">
        {{file.content | safe}}
      </section>

    </article>

    {% endblock%}
